/* div, img {
    border: 1px solid black;
} */

/* @import url(//db.onlinewebfonts.com/c/9a7e574c3eda05d71d03345d3f9e268e?family=FuturaLTW01-LightOblique); */
@font-face {
  font-family: "FuturaLTW01-LightOblique"; 
  src: url("./fonts/9a7e574c3eda05d71d03345d3f9e268e.eot"); /* IE9*/
  src: url("./fonts/9a7e574c3eda05d71d03345d3f9e268e.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("./fonts/9a7e574c3eda05d71d03345d3f9e268e.woff2") format("woff2"), /* chrome、firefox */
  url("./fonts/9a7e574c3eda05d71d03345d3f9e268e.woff") format("woff"), /* chrome、firefox */
  url("./fonts/9a7e574c3eda05d71d03345d3f9e268e.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("./fonts/9a7e574c3eda05d71d03345d3f9e268e.svg#Futura LT W01 Light Oblique") format("svg"); /* iOS 4.1- */ }

div {
  padding: 0;
  margin: 0;
}

body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family:"FuturaLTW01-LightOblique";
  background-color: rgb(221, 250, 221, 0.9);
}

.header {
  width: 100%;
  position: fixed;
  /* top: 100px; */
  min-height: 50px;
  background-color: rgb(255, 255, 255, 0.3);
  z-index: 100000;
}

.logo {
  height: 100px;
  width: 100px;
  /* margin: 10px; */
  float: left;
}

.header-itens {
  height: 100px;
  width: 100%;
  /* margin: 10px 0; */
}

.header-item {
  float: right;
  font-size: 16px;
  display: flex;
  margin-top: 40px;
  text-decoration: none;
  color: black;
  margin-right: 12px;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.header-item:hover {
  font-size: 20px;
  margin-top: 36px;
  text-decoration: none;
  color: black;
}

.parallax {
  background-image: url("./images/green-shapes-green-background_23-2148358212.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.parallax-equipe {
  background-image: url("./images/parallax.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.parallax-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 56px;
  font-weight: bolder;
  text-align: center;
}
.parallax-subtext {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}
.parallax-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(1px);
  -webkit-filter: blur(1px);
  /* height: 275px;
  width: 275px */
}

/* .content {
  height: 100%;
  min-height: 100px;
} */

.div-quemsomos, .div-equipe, .div-contato {
  text-align: center;
  /* background-color: rgb(221, 250, 221, 0.9); */
  padding: 20px;
  scroll-margin-top: 100px;
}

.img-quemsomos {
  padding: 20px;
}

.text-quemsomos {
  margin-top: 20px;
  text-align: justify;
}

.footer {
  width: 100%;
  min-height: 100px;
  background-color: rgb(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-itens {
  width: 100%;
  flex-flow: row wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-itens i {
  margin-left: 15px;
  font-size: 20px;
}

.team-photos {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

.form-contato {
  margin-top: 25px;
  text-align: right;
}

.carousel-inner img {
  margin: auto;
  width: 400px!important;
  height: 400px;
  border-radius: 50%;
}

.carousel-control-next,
.carousel-control-prev {
  margin: 0!important;
  padding: 0!important;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/* .carousel-control-prev {
  margin-left: -300px!important;
}

.carousel-control-next {
  margin-right: -300px!important;
} */